body {
  margin: 0;
  padding: 0;
  background-color: #2c4c2e;
}

#hero {
  background: url('../assets/bg.png') no-repeat center center;
}

/* Bounce-in animation */
@keyframes bounceIn {
  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.character {
  height: 18rem;
  margin-left: -1rem;
}

#message-box {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: 1rem;
  border-radius: 15px 15px 15px 2px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 200px;
  margin-left: 14rem;
  margin-top: 1rem;
  z-index: 10;
  /* Ensure it's on top */
  transition: all 0.3s ease;
  /* Smooth transitions */
}

.message-hidden {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
  transition: opacity 1s ease, transform 1s ease;
}

.message-visible {
  opacity: 1;
  transform: translateY(0);
  animation: bounceIn 1s ease-out;
  pointer-events: auto;
}

.close-icon {
  position: absolute;
  top: -5px;
  right: 5px;
  cursor: pointer;
  font-size: 1.7rem;
  color: #333;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  /* Allows cards to wrap on smaller screens */
}

.card-1 {
  height: 12rem;
  width: 12rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 4px solid rgb(34, 104, 34);
  transition: all 0.3s ease;
  /* Smooth resizing */
}

.card-1 img {
  height: 5rem;
  transition: all 0.3s ease;
  /* Smooth resizing for images */
}

.card-text {
  font-size: 1rem;
  transition: all 0.3s ease;
  /* Smooth resizing for text */
}

/* ANIMATIONS  */
.zoom-effect {
  transition: transform 0.3s ease-in-out;
  /* Smooth transition */
}

.zoom-effect:hover {
  transform: scale(1.1);
  /* Zoom effect */
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
    /* Adjust the negative value for jump height */
  }
}

.jump-animation {
  animation: jump 2s ease-in-out infinite;
  cursor: pointer;
}

.gradient-text {
  color: white;
  font-size: 72px;
  /* background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

@keyframes typewriter {
  0% {
    width: 0;
  }

  70% {
    width: 100%;
    /* Ensures full visibility of text */
  }

  90% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  /* animation: typewriter 5s steps(20, end) infinite, blink 0.75s step-end infinite; */
  font-size: 2rem;
  /* Default font size for medium screens */
  width: 100%;
  /* Initial width for better responsiveness */
}

.break-word {
  display: inline;
  /* Default behavior for larger screens */
}

@media (max-width: 768px) {

  #message-box {
    max-width: 180px;
    margin-left: 10rem;
    font-size: 0.9rem;
  }

  .close-icon {
    font-size: 1.5rem;
  }

  .character {
    height: 14rem;
  }

  .card-1 {
    height: 9rem;
    width: 9rem;
  }

  .card-1 img {
    height: 4rem;
    /* Reduce image size */
  }

  .card-text {
    font-size: 0.9rem;
    /* Reduce text size */
  }

  .typewriter {
    font-size: 1.5rem;
    /* Smaller font for tablets */
  }

  .break-word {
    display: block;
    /* Forces the word to break to a new line */
  }
}

@media (max-width: 480px) {
  #message-box {
    top: 16%;
    left: 50%;
    max-width: 150px;
    margin-left: 1rem;
    margin-right: 1rem;
    /* Center alignment on smaller screens */
    font-size: 0.8rem;
    padding: 0.8rem;
  }

  .close-icon {
    font-size: 1.4rem;
  }

  .card-1 {
    height: 9rem;
    width: 9rem;
  }

  .card-1 img {
    height: 3rem;
    /* Further reduce image size */
  }

  .card-text {
    font-size: 0.8rem;
    /* Further reduce text size */
  }

  .typewriter {
    font-size: 1.2rem;
    /* Even smaller font for mobile devices */
  }
}
